@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Novamedi - One Page Multipurpose Html Template">
    <meta name="keywords" content="business, responsive, multipurpose, onepage, corporate, clean">
    <meta name="author" content="Ambidextrousbd">

    <!-- Site title -->
    <title>Novamedi - One Page Multipurpose Html Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.png">

    <!-- Bootstrap css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet">

    <!--Font Awesome css -->
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Normalizer css -->
    <link href="~/Content/assets/css/normalize.css" rel="stylesheet">
    <!-- Owl Carousel css -->
    <link href="~/Content/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/owl.transitions.css" rel="stylesheet">

    <!-- Magnific popup css -->
    <link href="~/Content/assets/css/magnific-popup.css" rel="stylesheet">

    <link href="~/Content/assets/css/jquery-ui.css" rel="stylesheet">

    <!-- Site css -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <!-- Responsive css -->
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="~/Content/assets/css/skin/orange.css" /> -->
    <!-- <link rel="stylesheet" href="~/Content/assets/css/skin/green.css" /> -->
    <!-- <link rel="stylesheet" href="~/Content/assets/css/skin/yellow.css" /> -->
    <!-- <link rel="stylesheet" href="~/Content/assets/css/skin/wood.css" /> -->
    <!-- <link rel="stylesheet" href="~/Content/assets/css/skin/asbestos.css" /> -->
    <!-- <link rel="stylesheet" href="~/Content/assets/css/skin/alizarin.css" /> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Preloader starts-->
    <div id="preloader"></div>
    <!-- Preloader ends -->
    <!-- Top Bar Starts -->
    <div class="top-bar">
        <div class="container">
            <div class="tlogo">
                <a href="#"><img src="~/Content/assets/img/logo.png" alt="" /></a>
            </div>
            <div class="tphone"><p>EMERGENCY</p><span> <i class="fa fa-phone"></i> 123 456 78900</span></div>
            <div class="tappoint">
                <a href="#book" class="smooth_scroll">APPOINTMENT</a>
            </div>
        </div>
    </div>
    <!-- Top Bar Ends -->
    <!-- Navigation area starts -->
    <div class="menu-area navbar-fixed-top">
        <div class="container">
            <div class="row">
                <!-- Navigation starts -->
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a class="smooth_scroll" href="#slider">HOME</a></li>
                                        <li><a class="smooth_scroll" href="#about">ABOUT</a></li>
                                        <li><a class="smooth_scroll" href="#department">DEPARTMENT</a></li>
                                        <li><a class="smooth_scroll" href="#team">DOCTOR</a></li>
                                        <li><a class="smooth_scroll" href="#work">PORTFOLIO</a></li>
                                        <li><a class="smooth_scroll" href="#pricing">PRICE</a></li>
                                        <li><a class="smooth_scroll" href="#news">BLOG</a></li>
                                        <li><a class="smooth_scroll" href="#contact">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation ends -->
            </div>
        </div>
    </div>
    <!-- Navigation area ends -->
    <!-- Slider area starts -->
    <section id="slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <div class="carousel-inner" role="listbox">
                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text">
                                <div class="title clearfix">
                                    <h2>WE ARE EXPERT <br> IN THE FIELD OF</h2>
                                    <h1>MEDICAL!</h1>
                                </div>
                                <a href="#" class="btn btn-trnsp btn-big">PURCHASE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="item slide2">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text">
                                <div class="title clearfix">
                                    <h2>WE ARE EXPERT <br> IN THE FIELD OF</h2>
                                    <h1>MEDICAL!</h1>
                                </div>
                                <a href="#" class="btn btn-trnsp btn-big">PURCHASE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="item slide3">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text">
                                <div class="title clearfix">
                                    <h2>WE ARE EXPERT <br> IN THE FIELD OF</h2>
                                    <h1>MEDICAL!</h1>
                                </div>
                                <a href="#" class="btn btn-trnsp btn-big">PURCHASE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides-->
            <!-- Carousel Pagination -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <!-- Slider area ends -->
    <!-- About area starts -->
    <section id="about" class="about-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>About <span>Us</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- About Text -->
                <div class="col-md-6">
                    <div class="about-details">
                        <h3 class="subtitle">Welcome to NOVAMEDI Medical Center</h3>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian +1 cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt.</p>
                        <ul>
                            <li>Anim pariatur cliche reprehenderit.</li>
                            <li>Quis nostrud exercitation ullamco laboris.</li>
                            <li>Morbi accumsan ipsum velit sodales tellus.</li>
                            <li>Locavore pork belly chillwave microdos.</li>
                        </ul>
                        <a href="#" class="btn">Read more</a>
                    </div>
                </div>
                <!-- About Image -->
                <div class="col-md-6">
                    <div class="opening-hours-wrap">
                        <h3>Working Hours</h3>
                        <ul class="opening-hours">
                            <li>Monday<span class="pull-right">8.00 - 17.00</span></li>
                            <li>Tuesday <span class="pull-right">9.30 - 17.30</span></li>
                            <li>Wednesday <span class="pull-right">9.30 - 17.30</span></li>
                            <li>Thrusday <span class="pull-right">9.30 - 15.00</span></li>
                            <li>Friday <span class="pull-right">9.30 - 15.00</span></li>
                            <li>Saturday <span class="pull-right">9.30 - 15.00</span></li>
                            <li>Sunday <span class="pull-right">Closed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area ends -->
    <!-- Service area starts -->
    <section id="department" class="department-area  section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>OUR <span>DEPARTMENTS</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="home-departments">
                    <!--Left Service box start -->
                    <div class="col-md-4">
                        <div class="accordian-box">
                            <div class="panel-according panel-group according-icon angle-icon" id="accordion-one">
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-one" href="#collapse-one">
                                                <i class="icon-fla fa fa-stethoscope"></i>
                                                Dental
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-one" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapse-two">
                                                <i class="icon-fla fa fa-wheelchair-alt" aria-hidden="true"></i>
                                                CARDIOLOGY
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-two" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapse-three">
                                                <i class="icon-fla fa fa-heartbeat" aria-hidden="true"></i>
                                                NEUROLOGY
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-three" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapse-four">
                                                <i class="icon-fla fa fa-heart-o" aria-hidden="true"></i>
                                                UROLOGY
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-four" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Left Service box end -->
                    <!-- middle Promo image -->
                    <div class="col-md-4">
                        <div class="promo-img">
                            <img src="~/Content/assets/img/accordian/pic.png" alt="" />
                        </div>
                    </div>
                    <!--Right service box start -->
                    <div class="col-md-4">
                        <div class="accordian-box">
                            <div class="panel-according panel-group according-icon angle-icon" id="accordion-tow">
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-tow" href="#collapse-v2-first" aria-expanded="false" class="collapsed">
                                                <i class="icon-fla fa fa-heart-o" aria-hidden="true"></i>
                                                PULMONARY
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-v2-first" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-tow" href="#collapse-v2-second">
                                                <i class="icon-fla fa fa-hospital-o" aria-hidden="true"></i>
                                                X-RAY
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-v2-second" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-tow" href="#collapse-v2-third">
                                                <i class="icon-fla fa fa-wheelchair" aria-hidden="true"></i>
                                                TRAUMATOLOGY
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-v2-third" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                                <!-- single service-panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a class="" data-toggle="collapse" data-parent="#accordion-tow" href="#collapse-v2-forth">
                                                <i class="icon-fla fa fa-medkit" aria-hidden="true"></i>
                                                EYE CARE
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse-v2-forth" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Locavore pork belly scenester, pinterest chillw
                                            ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. ruffaut deep v kitsch salvia sriracha. Crucifix asymmetri
                                            al trust fund jean shorts DIY chia.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right service box end  -->
                </div>
            </div>
        </div>
    </section>
    <!-- Service area ends -->
    <!-- Booking area starts -->
    <div id="book" class="book-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Make an <span>appointment</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="contact-form-book">
                        <form class="appointment-form" id="appointment-form" method="post" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="nova-name" name="nova-name" placeholder="Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="nova-email" name="nova-email" placeholder="Email" type="email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="nova-phone" name="nova-phone" placeholder="Phone" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control date-pick" id="datepicker" name="appontment-date" placeholder="Date" type="text" required>
                                        <i class="icon fa fa-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="catagory" name="catagory" class="form-control" required>
                                            <option value="">Catagory</option>
                                            <option value="Opal Health">Opal Health</option>
                                            <option value="Otology">Otology</option>
                                            <option value="Hepatology">Hepatology</option>
                                            <option value="Gastroenterology">Gastroenterology</option>
                                            <option value="Ophthalmology">Ophthalmology</option>
                                            <option value="Orthopedics">Orthopedics</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="Doctor" name="Doctor" class="form-control" required>
                                            <option value="">Doctors</option>
                                            <option value="Opal Health">Dr.Smith</option>
                                            <option value="Otology">Dr.Ursula</option>
                                            <option value="Hepatology">Dr.Jhon Smith</option>
                                            <option value="Gastroenterology">Dr. Bernard Dent</option>
                                            <option value="Gastroenterology">Dr. Bernard Dent</option>
                                            <option value="Gastroenterology">Dr. Bernard Dent</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="nova-message" id="nova-message" class="form-control" rows="6" placeholder="Message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 mt20">
                                    <button class="btn btn-default">Book Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking area ends -->
    <!-- Team area starts -->
    <section id="team" class="team-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Our <span>Doctors</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="~/Content/assets/img/team/member-1.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">Dr. Neil Volungis</h3>
                            <p class="text-muted">Dentist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">Dr. Neil Volungis</h3>
                            <p>Dentist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Locavore pork belly scenester, pinterest chillwave microdosing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="~/Content/assets/img/team/member-2.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">Dr. ARON THOMAS</h3>
                            <p class="text-muted">Cardiologist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">Dr. ARON THOMAS</h3>
                            <p class="text-muted">Cardiologist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Locavore pork belly scenester, pinterest chillwave microdosing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="~/Content/assets/img/team/member-3.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">Dr. CAROL ANDERSON</h3>
                            <p class="text-muted">Neurologist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">Dr. CAROL ANDERSON</h3>
                            <p class="text-muted">Neurologist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Locavore pork belly scenester, pinterest chillwave microdosing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="~/Content/assets/img/team/member-4.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">Dr. Kristen Craft </h3>
                            <p class="text-muted">Urologist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">Dr Kristen Craft </h3>
                            <p class="text-muted">Urologist</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Locavore pork belly scenester, pinterest chillwave microdosing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team area ends -->
    <!-- Work area starts -->
    <section id="work" class="works section-big">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>OUR	<span>Portfolio</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Works filter -->
                <ul class="work filters">
                    <li class="filter" data-filter="all">ALL</li>
                    <li class="filter" data-filter=".web">CARDIOLOGY</li>
                    <li class="filter" data-filter=".dev">NEUROLOGY</li>
                    <li class="filter" data-filter=".brand">UROLOGY</li>
                    <li class="filter" data-filter=".illustrate">PULMONARY</li>
                    <li class="filter" data-filter=".tramatology">TRAUMATOLOGY</li>
                </ul>
                <!-- / Works filter -->
                <div class="portfolio">
                    <div class="work-items">
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix illustrate web">
                            <div class="item">
                                <a href="~/Content/assets/img/works/1.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/1.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix dev tramatology">
                            <div class="item">
                                <a href="~/Content/assets/img/works/2.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/2.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix illustrate typography web">
                            <div class="item">
                                <a href="~/Content/assets/img/works/3.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/3.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix web dev brand">
                            <div class="item">
                                <a href="~/Content/assets/img/works/4.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/4.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix web illustrate tramatology">
                            <div class="item">
                                <a href="~/Content/assets/img/works/5.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/5.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix dev brand">
                            <div class="item">
                                <a href="~/Content/assets/img/works/6.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/6.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix tramatology">
                            <div class="item">
                                <a href="~/Content/assets/img/works/7.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/7.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- work item -->
                        <div class="col-md-3 col-sm-6 mix tramatology">
                            <div class="item">
                                <a href="~/Content/assets/img/works/7.jpg" class="work-popup">
                                    <img src="~/Content/assets/img/works/8.jpg" alt="">
                                    <div class="overlay">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Work area ends -->
    <!-- Testimonial area starts -->
    <section id="testimonial" class="testimonial-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Patients say <span>about us</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="testimonial-list">

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/1.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/2.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/3.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/1.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/2.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/3.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <div class="img-details">
                            <img src="~/Content/assets/img/testimonial/1.jpg" alt="">
                            <p class="desg"><span>ADAM THOMAS</span> - Dentist Patient</p>
                        </div>
                        <p>“ Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitariancliche artisan.” </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial area ends -->
    <!-- fun-facts area starts -->
    <section id="fun-facts" class="fun-facts-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center tab-margin-bottom">
                        <h3><span class="cp-counter">50</span></h3>
                        <p>Years of experience</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center tab-margin-bottom">
                        <h3> <span class="cp-counter">950</span></h3>
                        <p>Happy Clients</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <h3> <span class="cp-counter">80</span></h3>
                        <p>Number of Doctors</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <h3> <span class="cp-counter">500</span></h3>
                        <p>Number of Staffs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fun-facts area ends -->
    <!-- Price area starts -->
    <section id="pricing" class="pricing-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Pricing <span>Plans</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="price-item" data-connectors="1">
                        <div class="info">
                            <p class="level">Basic</p>
                            <p class="price">
                                <span class="number">$ 99</span>
                                <span>/ mon</span>
                            </p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>1x option 1</li>
                                <li>Free option 2</li>
                                <li>Unlimited option 3</li>
                                <li>Unlimited Option 4</li>
                                <li>1x option 5</li>
                            </ul>
                        </div>
                        <a class="btn" href="#">Order Now</a>
                    </div>
                </div>
                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="price-item featured" data-connectors="1">
                        <div class="info">
                            <p class="level">Premium Plus</p>
                            <p class="price">
                                <span class="number">$ 299</span>
                                <span>/ mon</span>
                            </p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>1x option 1</li>
                                <li>Free option 2</li>
                                <li>Unlimited option 3</li>
                                <li>Unlimited Option 4</li>
                                <li>1x option 5</li>
                            </ul>
                        </div>
                        <a class="btn" href="#">Order Now</a>
                    </div>
                </div>
                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="price-item" data-connectors="1">
                        <div class="info">
                            <p class="level">Premium</p>
                            <p class="price">
                                <span class="number">$ 199</span>
                                <span>/ mon</span>
                            </p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>1x option 1</li>
                                <li>Free option 2</li>
                                <li>Unlimited option 3</li>
                                <li>Unlimited Option 4</li>
                                <li>1x option 5</li>
                            </ul>
                        </div>
                        <a class="btn" href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Price area ends -->
    <!-- Video area starts -->
    <div id="video" class="video-area section-big">
        <div class="container text-center">
            <div class="video-content">
                <a class="popup-youtube" href="../../www.youtube.com/watch8039.html?v=xtZE3sMv6lg">
                    <i class="fa fa-play"></i>
                </a>
                <h2>Watch This Video</h2>
            </div>
        </div>
    </div>
    <!-- Video area ends -->
    <!-- News area starts -->
    <section id="news" class="news-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Latest <span>Blog</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- News item 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-news">
                        <div class="news-image">
                            <a href="#news-modal-1" data-toggle="modal">
                                <img src="~/Content/assets/img/news/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="news-content">
                            <a href="#news-modal-1" data-toggle="modal">
                                <h3 class="subtitle">Each Child is special, so keep care</h3>
                            </a>
                            <p class="news-meta text-muted">
                                <span><i class="fa fa-user"></i>Posted by admin</span>
                                <span><i class="fa fa-calendar"></i> January 10, 2017</span>
                            </p>
                            <p>
                                Locavore pork belly scenester, pinterest chillw
                                ave microdosing waistcoat pop-up. Flexitarian  cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt.
                            </p>
                            <a class="btn" href="#news-modal-1" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- News item 2 -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-news">
                        <div class="news-image">
                            <a href="#news-modal-2" data-toggle="modal">
                                <img src="~/Content/assets/img/news/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="news-content">
                            <a href="#news-modal-2" data-toggle="modal">
                                <h3 class="subtitle">Firmament whales which have</h3>
                            </a>
                            <p class="news-meta text-muted">
                                <span><i class="fa fa-user"></i>Posted by admin</span>
                                <span><i class="fa fa-calendar"></i> January 10, 2017</span>
                            </p>
                            <p>Light without hath She'd winged Earth forth signs sixth void great together gathering, had creeping. Firmament whales which greater two wherein likeness light behold light that was.</p>
                            <a class="btn" href="#news-modal-2" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- News item 3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-news">
                        <div class="news-image">
                            <a href="#news-modal-3" data-toggle="modal">
                                <img src="~/Content/assets/img/news/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="news-content">
                            <a href="#news-modal-3" data-toggle="modal">
                                <h3 class="subtitle">Winged Earth forth signs void</h3>
                            </a>
                            <p class="news-meta text-muted">
                                <span><i class="fa fa-user"></i>Posted by admin</span>
                                <span><i class="fa fa-calendar"></i> January 10, 2017</span>
                            </p>
                            <p>Light without hath She'd winged Earth forth signs sixth void great together gathering, had creeping. Firmament whales which greater two wherein likeness light behold light that was.</p>
                            <a class="btn" href="#news-modal-3" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News 1 Modals -->
            <div class="news-modal modal fade" id="news-modal-1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <img src="~/Content/assets/img/news/1.jpg" alt="">
                                    <h2>Last night we released our latest product</h2>
                                    <p class="news-meta text-muted">
                                        <span><i class="fa fa-user"></i>Posted by admin</span>
                                        <span><i class="fa fa-calendar"></i> January 10, 2017</span>
                                    </p>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand.</p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News 2 Modals -->
            <div class="news-modal modal fade" id="news-modal-2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <img src="~/Content/assets/img/news/2.jpg" alt="">
                                    <h2>Last night we released our latest product</h2>
                                    <p class="news-meta text-muted">
                                        <span><i class="fa fa-user"></i> Posted by admin</span>
                                        <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                    </p>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand.</p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News 3 Modals -->
            <div class="news-modal modal fade" id="news-modal-3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <img src="~/Content/assets/img/news/3.jpg" alt="">
                                    <h2>Last night we released our latest product</h2>
                                    <p class="news-meta text-muted">
                                        <span><i class="fa fa-user"></i> Posted by admin</span>
                                        <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                    </p>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand.</p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News area ends -->
    <!-- Contact area starts -->
    <section id="contact" class="contact-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>GET IN <span>TOUCH</span></h2>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian cliche artisan, biodiesel mixtape tacos art party. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-form-area">
            <!-- Google Map starts-->
            <div id="contactgoogleMap"></div>
            <div class="contact-form-area">
                <!-- Contact form starts -->
                <div class="contact-form">
                    <!-- Submition status -->
                    <div id="form-messages"></div>
                    <form id="ajax-contact" action="~/Home/Contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group in_name">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group in_email">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group in_email">
                                    <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone" required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group in_email">
                                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group in_message">
                                    <textarea name="message" class="form-control" id="message" rows="5" placeholder="Message" required="required"></textarea>
                                </div>
                                <div class="actions">
                                    <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn small" title="Submit Your Message!">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact form ends-->
            </div>
        </div>
    </section>
    <!-- Contact area ends -->
    <!-- Footer area starts -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        <a href="#"><img src="~/Content/assets/img/footer-logo.png" alt="" /></a>
                        <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> 2130 Fulton Street San Diego, Australia</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> Mail@novamedi.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> +88 3 8376 6284</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div>
                                        <!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div>
                                        <!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer area ends -->
    <!-- copyright area start -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-text">
                        <p>&copy; Copyright 2017 NOVAMEDI Designed by Ambidextrousbd</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright area end -->
    <!-- Latest jQuery -->
    <script src="~/Content/assets/js/jquery.min.js"></script>

    <!-- jquery ui js-->
    <script src="~/Content/assets/js/jquery-ui.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- Owl Carousel js -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>

    <!-- Mixitup js -->
    <script src="~/Content/assets/js/jquery.mixitup.js"></script>

    <!-- Magnific popup js -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>

    <!-- Waypoint js -->
    <script src="~/Content/assets/js/jquery.waypoints.min.js"></script>

    <!-- Ajax Mailchimp js -->
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- GOOGLE MAP JS -->
    @*<script src="../../maps.googleapis.com/maps/api/js179a?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>*@

    <!-- Main js-->
    <script src="~/Content/assets/js/main_script.js"></script>

</body>
</html>