
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coming Soon</title>
    <link href="Content/tools/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="Content/tools/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">

</head>
<body>
    <div class="wrapper">
        <div class="left-section"><img src="Content/Images/watch.png" /></div>
        <div class="right-section">
            <h1 id="logo">Aashray Hospital</h1>
            <div class="seprator"></div>
            <div class="main-content">
                <h2>Our Website is coming soon</h2>
                <p>In the mean time connect with us with the information provided</p>
            </div>
            <ul class="social">
                <!--<li id="facebook"><a href="http://fb.me/aashrayhospital"><i class="fa fa-facebook"></i></a></li>-->
                <li id="facebook"><a href="https://www.facebook.com/Aashrayhospital/"><i class="fa fa-facebook"></i></a></li>
                <li id="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li id="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!--<ul class="info">
                <li><i class="fa fa-phone-square"></i>990-925-5377</li>
                <li><i class="fa fa-map-marker"></i></li>
                <li><i class="fa fa-envelope"></i><a href="#">dr_chirag911@yahoo.com</a></li>
            </ul>-->
            <div class="social-links">
                <ul class="social2">
                    <li id="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li id="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li id="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>


        </div>
        <div class="watch-section"><img src="Content/images/watch.png" /></div>
    </div>
    @*<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92407079-1', 'auto');
  ga('send', 'pageview');

    </script>*@
    <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/5c01a2d6fb3fcf24f9a0c6477/7d8ccad01ee519e69c3c0d4b0.js");</script>
</body>
</html>

