@media only screen and (min-width:992px) and (max-width:1200px){}
@media only screen and (min-width:768px) and (max-width:991px){.navbar-nav li a{padding:15px 5px;}
.intro-text h2{font-size:50px;}
.service-box,
.team-member,
.price-item,
.single-news{margin-bottom:30px;}
.portfolio-caption h4{margin-top:80px;}
.action-area .btn{margin-top:15px;}
.tab-margin-bottom{margin-bottom:50px;}
.padding{padding-bottom:40px;}
.footer-area p{margin-bottom:0px;}
.contact-form-area{padding:10px 40px;}
}
@media only screen and (max-width:767px){body, p{line-height:25px;}
.top-bar{margin-top:30px;}
.menu-area.navbar-fixed-top{top:0px;}
.tlogo, .tphone, .tappoint{line-height:22px;width:100%;text-align:center;margin:15px 0px;}
.tphone{margin-top:0px;}
.section-big{padding:50px 0px;}
.section-title h2{line-height:30px;}
.btn, input[type='submit']{margin-bottom:0px;padding:8px 20px;}
img{max-width:100%;}
.skill-area{padding-top:0px;}
.navbar-toggle{margin-right:0px;}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse{background:#fff;}
.navbar{min-height:0px;}
.mainmenu .navbar-nav{margin:0;}
.mainmenu .navbar-nav li{float:none;display:block;}
.mainmenu .navbar-nav li a{padding:11px 15px;color:inherit;}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse{margin:0 -15px;padding:0;box-shadow:0px 3px 5px 0px #999;}
.navbar-toggle{}
a.about-button{margin-top:0;}
.opening-hours-wrap{background-position:center center;padding:10px 20px;}
#slider, #slider .carousel, #slider .carousel .carousel-inner, #slider .carousel .carousel-inner .item{max-height:500px;}
.home-services .service-box{padding:0px;}
.work-items .item{margin-left:0px;margin-right:0px;margin-top:15px;}
.price-item ,
.team-member,
.single-news{margin-bottom:30px;}
.filters li{margin:0px 10px;}
.single-testimonial{padding:0 20px;}
.section-title h2{font-size:30px;}
.contact-info,
.video-area .accordion{margin-top:30px;}
.action-area .btn{margin-top:15px;}
.price-item p.level{margin-bottom:60px;}
.price-item p.price{padding-bottom:20px;}
.price-item a.btn{display:inline-block;}
.fun-fact{margin-bottom:50px;}
.padding{padding-bottom:40px;}
.footer-area p{margin-bottom:0px;}
.contact-form-area{width:100%;padding:10px 60px;}
}
@media only screen and (max-width:480px){}